DB_DRIVER=postgres
DB_CONNECTION=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=simple_bank
DB_USERNAME=root
DB_PASSWORD=password

APP_ADDRESS="0.0.0.0"
APP_PORT=8080
TOKEN_SYMETRIC_KEY=kXn2r5u8x/A?D(G+KbPeShVmYq3s6v9y
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=24h
